CS 548/6/Devanshu/PatientWebService.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://cs548.stevens.edu/clinic/service/web/soap" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://cs548.stevens.edu/clinic/service/web/soap" name="PatientWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://cs548.stevens.edu/clinic/service/web/soap" schemaLocation="http://ec2-54-165-130-148.compute-1.amazonaws.com:8080/clinic-soap/PatientWebService?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://cs548.stevens.edu/clinic/dto" schemaLocation="http://ec2-54-165-130-148.compute-1.amazonaws.com:8080/clinic-soap/PatientWebService?xsd=2"/>
</xsd:schema>
</types>
<message name="patientGetTreatment">
<part name="parameters" element="tns:patientGetTreatment"/>
</message>
<message name="patientGetTreatmentResponse">
<part name="parameters" element="tns:patientGetTreatmentResponse"/>
</message>
<message name="PatientNotFoundExn">
<part name="fault" element="tns:PatientNotFoundExn"/>
</message>
<message name="TreatmentNotFoundExn">
<part name="fault" element="tns:TreatmentNotFoundExn"/>
</message>
<message name="PatientServiceExn">
<part name="fault" element="tns:PatientServiceExn"/>
</message>
<message name="siteInfo">
<part name="parameters" element="tns:siteInfo"/>
</message>
<message name="siteInfoResponse">
<part name="parameters" element="tns:siteInfoResponse"/>
</message>
<message name="patientAddDrugTreatment">
<part name="parameters" element="tns:patientAddDrugTreatment"/>
</message>
<message name="patientAddDrugTreatmentResponse">
<part name="parameters" element="tns:patientAddDrugTreatmentResponse"/>
</message>
<message name="patientAddRadiology">
<part name="parameters" element="tns:patientAddRadiology"/>
</message>
<message name="patientAddRadiologyResponse">
<part name="parameters" element="tns:patientAddRadiologyResponse"/>
</message>
<message name="patientAddSurgery">
<part name="parameters" element="tns:patientAddSurgery"/>
</message>
<message name="patientAddSurgeryResponse">
<part name="parameters" element="tns:patientAddSurgeryResponse"/>
</message>
<message name="addPatient">
<part name="parameters" element="tns:addPatient"/>
</message>
<message name="addPatientResponse">
<part name="parameters" element="tns:addPatientResponse"/>
</message>
<message name="getPatient">
<part name="parameters" element="tns:getPatient"/>
</message>
<message name="getPatientResponse">
<part name="parameters" element="tns:getPatientResponse"/>
</message>
<message name="getPatientByPatId">
<part name="parameters" element="tns:getPatientByPatId"/>
</message>
<message name="getPatientByPatIdResponse">
<part name="parameters" element="tns:getPatientByPatIdResponse"/>
</message>
<portType name="IPatientWebPort">
<operation name="patientGetTreatment">
<input wsam:Action="http://cs548.stevens.edu/clinic/service/web/soap/IPatientWebPort/patientGetTreatmentRequest" message="tns:patientGetTreatment"/>
<output wsam:Action="http://cs548.stevens.edu/clinic/service/web/soap/IPatientWebPort/patientGetTreatmentResponse" message="tns:patientGetTreatmentResponse"/>
<fault message="tns:PatientNotFoundExn" name="PatientNotFoundExn" wsam:Action="http://cs548.stevens.edu/clinic/service/web/soap/IPatientWebPort/patientGetTreatment/Fault/PatientNotFoundExn"/>
<fault message="tns:TreatmentNotFoundExn" name="TreatmentNotFoundExn" wsam:Action="http://cs548.stevens.edu/clinic/service/web/soap/IPatientWebPort/patientGetTreatment/Fault/TreatmentNotFoundExn"/>
<fault message="tns:PatientServiceExn" name="PatientServiceExn" wsam:Action="http://cs548.stevens.edu/clinic/service/web/soap/IPatientWebPort/patientGetTreatment/Fault/PatientServiceExn"/>
</operation>
<operation name="siteInfo">
<input wsam:Action="http://cs548.stevens.edu/clinic/service/web/soap/IPatientWebPort/siteInfoRequest" message="tns:siteInfo"/>
<output wsam:Action="http://cs548.stevens.edu/clinic/service/web/soap/IPatientWebPort/siteInfoResponse" message="tns:siteInfoResponse"/>
</operation>
<operation name="patientAddDrugTreatment">
<input wsam:Action="http://cs548.stevens.edu/clinic/service/web/soap/IPatientWebPort/patientAddDrugTreatmentRequest" message="tns:patientAddDrugTreatment"/>
<output wsam:Action="http://cs548.stevens.edu/clinic/service/web/soap/IPatientWebPort/patientAddDrugTreatmentResponse" message="tns:patientAddDrugTreatmentResponse"/>
<fault message="tns:PatientServiceExn" name="PatientServiceExn" wsam:Action="http://cs548.stevens.edu/clinic/service/web/soap/IPatientWebPort/patientAddDrugTreatment/Fault/PatientServiceExn"/>
</operation>
<operation name="patientAddRadiology">
<input wsam:Action="http://cs548.stevens.edu/clinic/service/web/soap/IPatientWebPort/patientAddRadiologyRequest" message="tns:patientAddRadiology"/>
<output wsam:Action="http://cs548.stevens.edu/clinic/service/web/soap/IPatientWebPort/patientAddRadiologyResponse" message="tns:patientAddRadiologyResponse"/>
<fault message="tns:PatientServiceExn" name="PatientServiceExn" wsam:Action="http://cs548.stevens.edu/clinic/service/web/soap/IPatientWebPort/patientAddRadiology/Fault/PatientServiceExn"/>
</operation>
<operation name="patientAddSurgery">
<input wsam:Action="http://cs548.stevens.edu/clinic/service/web/soap/IPatientWebPort/patientAddSurgeryRequest" message="tns:patientAddSurgery"/>
<output wsam:Action="http://cs548.stevens.edu/clinic/service/web/soap/IPatientWebPort/patientAddSurgeryResponse" message="tns:patientAddSurgeryResponse"/>
<fault message="tns:PatientServiceExn" name="PatientServiceExn" wsam:Action="http://cs548.stevens.edu/clinic/service/web/soap/IPatientWebPort/patientAddSurgery/Fault/PatientServiceExn"/>
</operation>
<operation name="addPatient">
<input wsam:Action="http://cs548.stevens.edu/clinic/service/web/soap/IPatientWebPort/addPatientRequest" message="tns:addPatient"/>
<output wsam:Action="http://cs548.stevens.edu/clinic/service/web/soap/IPatientWebPort/addPatientResponse" message="tns:addPatientResponse"/>
<fault message="tns:PatientServiceExn" name="PatientServiceExn" wsam:Action="http://cs548.stevens.edu/clinic/service/web/soap/IPatientWebPort/addPatient/Fault/PatientServiceExn"/>
</operation>
<operation name="getPatient">
<input wsam:Action="http://cs548.stevens.edu/clinic/service/web/soap/IPatientWebPort/getPatientRequest" message="tns:getPatient"/>
<output wsam:Action="http://cs548.stevens.edu/clinic/service/web/soap/IPatientWebPort/getPatientResponse" message="tns:getPatientResponse"/>
<fault message="tns:PatientServiceExn" name="PatientServiceExn" wsam:Action="http://cs548.stevens.edu/clinic/service/web/soap/IPatientWebPort/getPatient/Fault/PatientServiceExn"/>
</operation>
<operation name="getPatientByPatId">
<input wsam:Action="http://cs548.stevens.edu/clinic/service/web/soap/IPatientWebPort/getPatientByPatIdRequest" message="tns:getPatientByPatId"/>
<output wsam:Action="http://cs548.stevens.edu/clinic/service/web/soap/IPatientWebPort/getPatientByPatIdResponse" message="tns:getPatientByPatIdResponse"/>
<fault message="tns:PatientServiceExn" name="PatientServiceExn" wsam:Action="http://cs548.stevens.edu/clinic/service/web/soap/IPatientWebPort/getPatientByPatId/Fault/PatientServiceExn"/>
</operation>
</portType>
<binding name="PatientWebPortBinding" type="tns:IPatientWebPort">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="patientGetTreatment">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="PatientNotFoundExn">
<soap:fault name="PatientNotFoundExn" use="literal"/>
</fault>
<fault name="TreatmentNotFoundExn">
<soap:fault name="TreatmentNotFoundExn" use="literal"/>
</fault>
<fault name="PatientServiceExn">
<soap:fault name="PatientServiceExn" use="literal"/>
</fault>
</operation>
<operation name="siteInfo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="patientAddDrugTreatment">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="PatientServiceExn">
<soap:fault name="PatientServiceExn" use="literal"/>
</fault>
</operation>
<operation name="patientAddRadiology">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="PatientServiceExn">
<soap:fault name="PatientServiceExn" use="literal"/>
</fault>
</operation>
<operation name="patientAddSurgery">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="PatientServiceExn">
<soap:fault name="PatientServiceExn" use="literal"/>
</fault>
</operation>
<operation name="addPatient">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="PatientServiceExn">
<soap:fault name="PatientServiceExn" use="literal"/>
</fault>
</operation>
<operation name="getPatient">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="PatientServiceExn">
<soap:fault name="PatientServiceExn" use="literal"/>
</fault>
</operation>
<operation name="getPatientByPatId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="PatientServiceExn">
<soap:fault name="PatientServiceExn" use="literal"/>
</fault>
</operation>
</binding>
<service name="PatientWebService">
<port name="PatientWebPort" binding="tns:PatientWebPortBinding">
<soap:address location="http://ec2-54-165-130-148.compute-1.amazonaws.com:8080/clinic-soap/PatientWebService"/>
</port>
</service>
</definitions>